body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8b8f91;
    color: #333;

}

header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

#logo {
    width: 150px;
    height: auto;
    margin-top: 10px;
}

#management-logo {
    width: 50px;
    height: auto;
}